.shape {
	font-size: 60px;
	background: none;
	border: 1px solid #3a414f;
	border-radius: 50%;
	cursor: pointer;
	padding: 10px 20px;
	margin: 0 30px;
}

.shape:hover {
	transition: background-color 1s;
	background-color: #2d333f;
}
