.main {
	padding: 40px 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px;
	width: 95%;
	min-height: 84vh;
	margin: auto;
	background-color: #202020;
	border-radius: 20px;
}
