.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11141b;
  padding: 10px 2%;
  border-bottom: 1px solid #313743;
}

.title {
  font-size: 22px;
  font-weight: 900;
  color: whitesmoke;
  text-decoration: none;
}

.connectWalletButton {
  font-size: 14px;
  padding: 4px 15px;
  cursor: pointer;
  color: white;
  border: 1px solid whitesmoke;
  background: none;
  border-radius: 10px;
}

.connectWalletButton:hover {
  transition: all 0.8s;
  background-color: whitesmoke;
  color: black;
}
